@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: sans-serif;
    line-height: 1.7;
    color: rgba(39, 39, 39, 0.819);
    background-color: rgb(234,246,251,1);
}
.elegant-font p {
    font-family: serif;
    font-size: 1.2rem;
}
.natural-font p {
    font-family: TsukuARdGothic-Regular;
    background-color: rgb(251,222,229,1);
    padding: 3px 5px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}

/* 見出し */
.page-title {
    font-size: 4rem;
    font-family: serif;
    font-weight: normal;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 3px rgb(251,222,229,1) solid;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: rgb(131, 199, 240);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #7dcdea;
}

/* iframe */
iframe {
    width: 100%;
}

/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
    min-width: 150px;
    margin-top: 14px;
}
.main-nav {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 40px;
    list-style: none;
    padding-right: 2rem;
    background-color: rgba(178, 222, 224,0.5);
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: rgb(241, 236, 236);
}
.main-nav a:hover {
    color: rgb(247, 156, 177);
    background-color: rgba(78, 72, 72, 0.852);
}

/* TOPS
------------------------------- */
#news {
    background-image: url(../images/top-bg.jpg);
    height: 65vh;
    width: 31vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#news .page-title {
    text-align: center;
    margin-top: -7rem;
    color: rgb(60, 191, 248);
}
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#news .logo {
    width: 150px;
}
/* 記事部分 */
article {
    width: 64%;
}
.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 20px;
}
.post-date {
    background: rgb(0, 0, 0);
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 65%;
    margin: 0 auto;
}
.post-title {
    font-family: serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat {
    margin-left: 100px;
}
article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
    margin-left: 4rem;
}

/* サイドバー */
aside {
    width: 36%;
    margin-left: 2rem;
}
.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px rgb(255, 0, 0) solid;
}
.sub-menu a {
    color: aqua;
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: rgb(218, 53, 28);
}
aside p {
    padding: 12px 10px;
}

/* Lesson
------------------------------- */
#menu {
    background-image: url(../images/wall.jpg);
    min-height: 162vh;
}
#menu .logo {
    width: 150px;
}
#menu .main-nav {
    background-color: rgba(64, 57, 50, 0.385);
}
.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title {
    text-align: center;
    margin-top: 24rem;
    color: #ddd;
    background-color: rgba(48, 50, 51, 0.447);
    width: max-content;
}
.menu-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
    color: #ddd;
    background-color: rgba(48, 50, 51, 0.447);
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
  align-items: center;
  background-color: rgba(52, 52, 52, 0.522);
  padding: 3rem 3rem 2rem 3rem;
}
.grid img {
    width: 22vw;
    height: 33vh;
    object-fit: cover;
}
.grid img:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}
.grid p {
    margin-top: 1rem;
    color: rgb(255, 255, 255);
}

/* CONTACT
------------------------------- */
#contact {
    background-image: url(../images/menu7.png);
    height: 150vh;
    margin-left: auto;
    margin-right: auto;
    color: #ddd;
    margin: 0 4%;
}
#contact .logo {
    width: 150px;
}
#contact .main-nav {
    background-color: rgba(67, 64, 64, 0.743);
}
#contact .main-nav a {
    color: #ddd;
}
#contact .main-nav a:hover {
    color: rgb(247, 156, 177);
}

/* フォーム */
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

/* 店舗情報・地図 */
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 24%;
}
.location-info p {
    padding: 12px 10px;
}
.location-map {
    width: 74%;
}

/* SNS */
#sns {
    background: #FAF7F0;
    padding: 3% 0;
}
#sns .wrapper {
    display: flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom: 5px;
}
.sns-box {
    width: 30%;
}
#sns .sub-title .instagram-media {
    width: 560px;
    height: 315px;
}
/* フッター
------------------------------- */
footer {
    background: rgba(178, 222, 224,1);
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #000;
    font-size: 0.875rem;
}

/* IPAD版
------------------------------- */
@media (max-width: 1200px) and (min-width: 601px) {
    #news {
        width: 100%;
        height: 112vh;
    }
    #contact {
        height: 160vh;
    }
    .grid img {
        width: 100%;
    }
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .main-nav {
        padding: 5px;
    }
    .page-title {
        font-size: 2rem;
    }
    .page-header {
        align-items: center;
    }
    .logo {
        width: 100px;
        min-width: 110px;
    }
    /* HEADER */
    .main-nav {
        font-size: 13px;
        margin-top: -6px;
        background-color: rgba(49, 48, 47, 0.313);
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    /* TOP */
    #news {
        width: 90vw;
        height: 112vh;
        margin-left: auto;
        margin-right: auto;
    }
    .news-contents {
        flex-direction: column;
    }
    #news .page-title {
        margin-top: 140px;
        background-color: rgba(216, 215, 215, 0.343);
        width: fit-content;
        padding: 0 13px;
        margin-left: auto;
        margin-right: auto;  
    }
    article,
    aside {
        width: 100%;
    }
    article p {
        margin-bottom: 1px;
        margin-left: auto;
    }
    .elegant-font p {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }
    aside {
        margin-top: 60px;
        margin-left: 0;
    }
    .post-info {
        margin-bottom: 20px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        font-size: 1.2rem;
        margin-left: auto;
    }

    /* LESSON */
    .menu-content {
        margin-top: 20%;
    }
    .menu-content p {
        font-size: 1rem;
    }
    .menu-content .page-title {
        margin-top: 8rem;
    }
    #menu {
        min-height: 34rem;
        margin-top: 8rem;
    }
    #menu .logo {
        width: 120px;
    }
    .main-nav {
        margin-top: -12rem;
    }    
    .main-nav a {
        font-size: 13px;
    }
    .grid img {
        width: 100%;
    }
    .grid p {
        margin-bottom: 2rem;
    }
    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }
    #contact {
        min-height: 42vh;
    }
    #contact {
        height: 67vh;
        width: 90%;
    }
    #contact .main-nav {
        margin-top: 0;
    }
    .main-nav a {
        font-size: 20px;
    }
    .button {
        margin-bottom: 20px;
    }
    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

    /* 店舗情報・地図 / SNS */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }
}
